<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bunko">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bunko">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- EPUB -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-epub" />
            </intent-filter>

            <!-- Comic Archives (CBZ, CBR, CB7, CBT, ZIP, RAR, 7Z, TAR) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/x-cb7" />
                <data android:mimeType="application/x-cbt" />
                <data android:mimeType="application/vnd.comicbook+zip" />
                <data android:mimeType="application/vnd.comicbook-rar" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-tar" />
            </intent-filter>

            <!-- MOBI / Kindle / Reflowable (MOBI, AZW, AZW3, PRC, FB2) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/vnd.amazon.mobi8-ebook" />
                <data android:mimeType="application/x-mobi" />
                <data android:mimeType="application/x-azw" />
                <data android:mimeType="application/x-azw3" />
                <data android:mimeType="application/x-prc" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="text/fb2+xml" />
            </intent-filter>

            <!-- PDF Documents -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-pdf" />
            </intent-filter>

            <!-- Text & Markdown Documents -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
            </intent-filter>

            <!-- File extension filters (content / file schemes) with generic MIME types -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.EPUB" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.CBZ" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.CBR" />
                <data android:pathPattern=".*\\.cb7" />
                <data android:pathPattern=".*\\.CB7" />
                <data android:pathPattern=".*\\.cbt" />
                <data android:pathPattern=".*\\.CBT" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.MOBI" />
                <data android:pathPattern=".*\\.azw" />
                <data android:pathPattern=".*\\.AZW" />
                <data android:pathPattern=".*\\.azw3" />
                <data android:pathPattern=".*\\.AZW3" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.PRC" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.FB2" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.PDF" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.ZIP" />
                <data android:pathPattern=".*\\.rar" />
                <data android:pathPattern=".*\\.RAR" />
                <data android:pathPattern=".*\\.7z" />
                <data android:pathPattern=".*\\.7Z" />
                <data android:pathPattern=".*\\.tar" />
                <data android:pathPattern=".*\\.TAR" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.TXT" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.MD" />
            </intent-filter>

            <!-- File extension filters without mimeType (for file managers that don't supply MIME type) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.EPUB" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.CBZ" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.CBR" />
                <data android:pathPattern=".*\\.cb7" />
                <data android:pathPattern=".*\\.CB7" />
                <data android:pathPattern=".*\\.cbt" />
                <data android:pathPattern=".*\\.CBT" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.MOBI" />
                <data android:pathPattern=".*\\.azw" />
                <data android:pathPattern=".*\\.AZW" />
                <data android:pathPattern=".*\\.azw3" />
                <data android:pathPattern=".*\\.AZW3" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.PRC" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.FB2" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.PDF" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.ZIP" />
                <data android:pathPattern=".*\\.rar" />
                <data android:pathPattern=".*\\.RAR" />
                <data android:pathPattern=".*\\.7z" />
                <data android:pathPattern=".*\\.7Z" />
                <data android:pathPattern=".*\\.tar" />
                <data android:pathPattern=".*\\.TAR" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.TXT" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.MD" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
